@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">BLOQUEADO.</h1>
    <h2 class="text-danger">TEsta cuenta esta bloqueada, Por favor intentelo mas tarde.</h2>
</hgroup>
