@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Peliculas</h2>

<p>
    @Html.ActionLink("Nueva Pelicula", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Pelicula</th>
            <th>Genero</th>
        </tr>
    </thead>
    <tbody>
        @for (var movie=0; movie >=2; movie++)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Details", "Movies", new {id = movie.Id},null)</td>
                    
                </tr>
            }
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "genre.name"
                    }
                ]
            });
        });
    </script>
}
